qiskit==0.34.2
qiskit-optimization==0.3.2
pytket==1.0
pytket-ionq==0.16.0
pyquil==3.5.4
pydantic==1.8.2
pytket-pyquil==0.21.0
packaging==23.1
pytket-qiskit==0.23.0
iteration_utilities==0.11.0
dimod==0.12.3
networkx==2.8.8
dwave-system==1.18.0
dwave-neal==0.6.0
multiprocess==0.70.14
sympy==1.10.1
qubovert==1.2.4
docplex==2.23.222
gurobipy==10.0.1
multiprocessing_on_dill==3.5.0a4